<header>
     {# {{ page.branding }}
     {{ page.navigation }}
     {{ page.search }} #}
</header>
<section>
   {# {{ page.featured }} #}
</section>
<section>
   <main class="content">
     {# {{ page.content }} #}
     {{page.card}}
   </main>

</section>
